.infinite-scroll-RightToLeft {
  animation: RightToLeft 10s infinite linear;
}

@keyframes RightToLeft {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-50%);
    }
}
.infinite-scroll-LeftToRight {
  animation: LeftToRight 7s infinite linear;
}

@keyframes LeftToRight {
    from{
        transform: translateX(-50%);
    }
    to{
        transform: translateX(0%);
    }
}